<!DOCTYPE html>
<html>
    <head>
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-2.1.4.js"></script>
        <link rel="stylesheet" href="/stylesheets/chat.css">
        <title>Chat application</title>
    </head>
    <body>

        <div id="chat-container"></div>
        <textarea name="" id="chat-input" cols="30" rows="10"></textarea>
        <button id="timer-button">Time execution</button>
        <script src="/javascripts/chat.js"></script>
    </body>
</html>